<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CHANGEME</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">

    <div class="navbar-brand">

      <a class="navbar-item" href="http://bulma.io">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>

    </div>

    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="navbar-menu" id="navMenu">
      <!-- navbar-start, navbar-end... -->

      <div class="navbar-start">

      </div>

      <div class="navbar-end">

        <a href="/" class="navbar-item {{#if active.home}}active{{/if}}">
            Home
        </a>

        <a href="/blog" class="navbar-item {{#if active.blog}}active{{/if}}">
            Blog
        </a>

      </div>
    </div>
  </nav>

  